
html{
    
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    background-color: #1c1c1c;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #e0b100;
}

.container {
    margin: auto;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2E2E2E;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #444;
}

tr:hover {
    background-color: #555;
}

.highlight {
    color: #d9534f;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 20px 0;
}

.grid-item {
    background-color: #2E2E2E;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.maniobras-container, .aptitudes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.maniobra, .aptitud {
    background-color: #2c3e50;
    color: white;
    border-radius: 20px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.maniobra:hover, .aptitud:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.number-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Hace que el div sea un círculo */
    color: white;
    text-align: center;
    line-height: 30px; /* Centra el texto verticalmente */
}

.blue-circle {
    background-color: rgba(0, 0, 255, 0.5); /* Azul con 50% de opacidad */
}


.red-circle {
    background-color: rgba(255, 0, 0, 0.5);
}

.green-circle {
    background-color: rgba(43, 151, 43, 0.5);
}

.yellow-circle {
    background-color: rgb(162, 0, 255, 0.5);
}

.default-circle {
    background-color: rgb(128, 128, 128);
}

.inline-text {
    display: inline-block; 
    vertical-align: middle; 
}


strong {
    font-family: 'Georgia', monospace;
    font-weight: bold;
    font-size: 1.1em; 
    color: #333333; 
}
